BUSINESS_NAME=
DATABASE_URL=
JWT_SECRET=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_ENVIRONMENT=
MPESA_INITIATOR_NAME=
MPESA_PASSKEY=
MPESA_SECURITY_CREDENTIAL=
MPESA_SHORTCODE=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=
SMTP_USER=
SUPPORT_EMAIL=
UPLOAD_DIR=
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=
VAPID_SUBJECT=